<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sanctum"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".AddMyTherapistActivity"
            android:exported="true" />
        <activity
            android:name=".MyTherapistsAdapter"
            android:exported="true" />
        <activity
            android:name=".MyTherapistsArrayListActivity"
            android:exported="true" />
        <activity
            android:name=".AddAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".AppointmentListActivity"
            android:exported="true" />
        <activity
            android:name=".AddReminderActivity"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="true" />

        <service
            android:name=".NotificationIntentService"
            android:exported="false" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MentalHealthActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LogInActivity"
            android:exported="true" />
        <activity
            android:name=".ArrayListActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MindfulnessActivity"
            android:enabled="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>